@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Anta", sans-serif;
}

li {
  list-style: none;
}

body {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100vw;
  background-color: #e7edea;
}

header {
  background-color: #030d4f;
  display: flex;
  border-bottom: 5px #fb0c06 solid;
}

aside{
  border-bottom: 3px #fb0c06 solid;
  background-color: #e7edea;
  color: black;
}

nav,
main {
  background: #030d4f;
  display: flex;
}

header {
  height: 100px;
  flex: 1 1 100vw;
}

header #logo {
  display: flex;
  flex: 0 1 200px;
  background: #030d4f;
  justify-content: center;
  align-items: center;
}

#openMenu,
#closeMenu {
  border: none;
  background: none;
  font-size: 30px;
  font-weight: bold;
  padding: 0px 5px 0px 5px;
  cursor: pointer;
  display: none;
  background-color: #e7edea1c;
}

nav {
  justify-content: flex-end;
  align-items: center;
  flex: 1 1 200px;
  background: #030d4f;
  flex-direction: column;
  display: flex;
}

nav a {
  margin: 0 3%;
  font-size: 15pt;
}

main {
  height: calc(100vh - 224px);
  flex: 20 1 500px;
  background-color: #e7edea;
  border-right: 3px #fb0c06 solid;
  border-bottom: 3px #fb0c06 solid;
}

aside {
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
}

footer {
  height: 100px;
  flex: 1 1 100vw;
  padding-right: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

.buttonsHeader {
  display: flex;
  gap: 8px;
}

.buttonHeader {
  width: 100px;
  font-size: 18px;
  height: 50px;
  border-radius: 15px;
  border-style: none;
  cursor: pointer;
  background-color: #e7edea;
  color: black;
}

#mainContainer {
  padding-left: 15px; 
}

.allContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
}

.titulo {
  text-align: center;
}

.listButtonsAside {
  display: flex;
  flex: wrap;
  gap: 5px;
  flex-direction: column;
  padding: 15px;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.anchorAside {
  border-radius: 15px;
}
.titleProjects {
  padding: 5px;
  text-align: center;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding-top: 5px;
}

#logo {
  color: white;
  font-size: 30px;
  font-family: "Anta", sans-serif;
  background-color: #030d4f;
}

#menu {
  justify-content: center;
}

.contact{
  margin-left: 10px;
}

h1, h2, h3{
  color: #fb0c06;
}

@media only screen and (max-width: 717px) {
  #openMenu,
  #closeMenu {
    display: block;
  }

  #openMenu {
    margin-left: auto;
  }

  #closeMenu {
    position: fixed;
    right: 15px;
    top: 15px;
  }

  .projects {
    display: flex;
    gap: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 90px;
  }

  .anchorAside {
    font-size: 11px;
    width: 65px;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #030d4f;
    border-radius: 15px;
    color: white;
  }

  .educacao, .experiencia, .cursos {
    font-size: 18px;
  }

  nav {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.8);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    display: none;
    opacity: 0;
    transition: 0.3s;
  }

  .buttonsHeader {
    flex-direction: column;
  }

  nav a {
    margin: 3%;
  }

  main {
    height: calc(100vh - 330px);
  }

  aside {
    height: 120px;
    display: flex;
    flex-direction: column;
    padding: 3px;
    padding: 15px;
    align-items: center;
  }

  footer {
    font-size: 14px;
  }
}